<footer id="footer">
    Copyright &copy; 1995 Rizky Arif Zaelani

    <ul class="f-menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Reports</a></li>
        <li><a href="#">Support</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="Products">Product</a></li>
        <li><a href="Customers">Customer</a></li>
        <li><a href="Suppliers">Supplier</a></li>
    </ul>
</footer>

